@import "_typography.scss";

body {
  @include MQ(S) {
  background: white;
  font-family: $primary-font;
  max-width: 1200px;
  }
}

.summary p:nth-child(2) {
    @include MQ(S) { 
      grid-area: sum;
      position: absolute;
      top: 0px; 
      left: 0px;
      padding: 2rem;  
      width: 100%;
      margin: auto 0;
      background-color: lighten($color-2, 5%);
    }
  }

.requirements, footer{
  @include MQ(S) {
    margin-left: -32.6rem;
    margin-right: 0;
  }
  @include MQ(midM) {
    margin-left: -36rem;
  }
  @include MQ(M) {
    margin-left: -40.5rem;
  }
}

@include MQ(S) {

  #zen-summary {
    margin: 0;
    p:first-child {
      line-height: 200%;
      
      &::before {
        top: 3rem;
        left: -4rem;
        font-size: 8em;
      }

      &::after {
        bottom: -1rem;
        right: 1rem;
      }
    }
  }

  .summary {
    grid-area: summary;
    padding: 4rem 4rem;
    text-align: center;
    display: flex;
    background-image: url("images/record-bkgd.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    align-items: center;
  }



  .preamble,
  .participation,
  .requirements {
    text-align: left;


    p {
      &::after {
        content: "";
        border-top: 2px dotted $color-4;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .explanation,
  .benefits {
    text-align: right;
  }

  //GRID FORMATTING
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "intro intro"
      "sidebar main";
  }

  .intro {
    @include MQ(S) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr .5fr .3fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "header header"
        "summary preamble"
        "sum sum"; 
      grid-area: intro;
      position: relative;
    }
    @include MQ(M) {
      grid-auto-rows: 1fr .5fr .35fr;
    }
    @include MQ(L) {
      grid-auto-rows: 1fr .5fr .5fr;
    }
  }

  .preamble {
    grid-area: preamble;
  }

  header {
    @include MQ(S) {
      grid-area: header;
  }
}

  header:hover::before, 
  header:hover::after,
  header:hover h1::before,
  header:hover h1::after,
  header:hover h2::before,
  header:hover h2::after,
  header:hover + div#zen-summary::before {
    width: 100%;
    @include headhover;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explanation"
      "participation"
      "benefits"
      "requirements"
      "footer";
    grid-area: main;
  }

  .explanation {
    grid-area: explanation;
  }

  .participation {
    grid-area: participation;
    position: relative;
}

  .benefits {
    @include MQ(S) {
      grid-area: benefits;
      margin-left: -32.5rem;
      margin-right: 0;
      padding: 2rem;
      h3 {
        margin-top: 0;
      }
    }
    @include MQ(midM) {
      margin-left: -32.5rem;
      padding: 3rem 2rem 2rem;
    }
    @include MQ(M) {
      margin-left: -40.5rem;
    }
    @include MQ(L) {
      margin-left: 0;
      margin-bottom: 0;
      padding: 3.5rem 2rem;
      background-color: lighten($color-4, 5%);
    }
  }


  .requirements {
    grid-area: requirements;
    column-count: 2;
    column-width: auto;
    column-gap: 2rem;
    padding: 5rem 5rem 9rem;
    justify-self: center;
    background-image: url("images/record-bkgd.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    @include MQ(L) {
      margin-top: 0;
    }
    h3 {
      column-span: all;
      margin-top: 0;
    }
    & p:first-of-type {
      margin-top: 0;
    }
    }

    .requirements p:last-child {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      left: 0px;
      padding: 2rem 5rem;
      margin-top: 2rem;
      @include MQ(L) {
        top: 400px;
      }
    }

  footer {
    align-items: flex-end;
    grid-area: footer;
    height: 200px;
    padding: 1.5rem;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "wrapper";
    grid-area: sidebar;
    
  }
  .wrapper {
    background-image: none;
    position: fixed;
    overflow: visible;
    @include MQ(S) {
      width: 70rem;
      height: 70rem;
    }
    @include MQ(midM) {
      width: 73rem;
      height: 73rem;
    }
    @include MQ(M) {
      width: 78rem;
      height: 78rem;
    }

    &::before{
      content: "";
      position: relative;
      top: -80rem;
      right: 18%;
      z-index: -100;
      background: url("images/record.svg") 0 0 repeat ;
      width: 68rem;
      height: 68rem;
      background-repeat: no-repeat;

      animation: rotation 20s linear infinite; 


      @include MQ(midM) {
        width: 73rem;
        height: 73rem;
      }
      @include MQ(M) {
        width: 78rem;
        height: 78rem;
      }
    }
      &::after {
        display: none;
      }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
      transform-origin: 50% 50% ;
    }
    to {
      transform: rotate(359deg);
      transform-origin: 50% 50% ;
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:15rem 20rem 30rem;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "design-archives"
      "design-selection"
      "zen-resources";
    grid-area: wrapper;
    position: relative;
    margin-top: 15rem;
    margin-left: -37.5rem; 
    width: 100%;
    
    &:hover{
      transform: scale(1.005);
      transition: transform .3s ;
      &:before{
      animation-play-state: paused;
      cursor: pointer;
      }
    }
  }

  .design-selection {
    @include MQ(S) {
      grid-area: design-selection;
      align-items: center;
      transform: translate(13rem, 0rem);
      margin-left: 25%; 
      margin-top: -5rem;
      width: 35%;
    }
    @include MQ(midM) {
      margin-left: 30%;
      margin-top: 0; 
    }

  }

  .design-archives {
    @include MQ(S) {
      grid-area: design-archives;
      transform: translate(8rem, -1rem);
      align-items: center;
      margin-left: 25%;
      margin-top: -1rem;
    }
    @include MQ(midM) {
      margin-left: 30%;
      margin-top: 4rem;
    }
  }

  .zen-resources {

    @include MQ(S) {
      grid-area: zen-resources;
      transform: translate(8rem, -1rem);
      margin-left: 25%;
      margin-top: -5rem; 
      width: 35%;
    }
    @include MQ(midM) {
      margin-left: 30%;
      margin-top: 0; 
    }
  }
}


@include MQ(M)  {
  .requirements  {
    column-count: 3;
    column-width: auto;
    max-width: fit-content;
  }

  #zen-summary {
    p:first-child {
      padding: 0 4rem 1rem 4rem;
      
      &::before {
        top: 2rem;
        left: -1rem;
      }

      &::after {
        right: 3rem;
      }
    }
  }

  .summary * {
    font-size: 1.2rem;
  }
}


