// breakpoints
$XS: 29rem; //450px
$midS: 38rem; //609px
$S: 48rem; //768px
$midM: 56rem; //896px
$M: 64rem; //1024px
$midL: 70rem; //1120px
$L: 75rem; //1200px
$midLX: 88rem; //1408px
$XL: 100rem; //1600px

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == midS {
    @media only screen and (min-width: $midS) {
      @content;
    }
  } @else if $canvas == S {
    @media only screen and (min-width: $S) {
      @content;
    }
  } @else if $canvas == midM {
    @media only screen and (min-width: $midM) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (min-width: $M) {
      @content;
    }
  } @else if $canvas == midL {
    @media only screen and (min-width: $midL) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  } @else if $canvas == midXL {
    @media only screen and (min-width: $midXL) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction: left) {
  width: 100% * $percentage;
  float: $float-direction;
}
