
$primary-font: "Roboto", sans-serif;
$secondary-font: "Lobster", cursive;

body {
  font-family: $primary-font;
}

h1 {
  font-size: 3rem;
  font-family: $secondary-font;
  color: #f86308;
  margin-top: 0;
  animation: lobster 3.5s infinite alternate-reverse linear;
  @include MQ(midS) {
    font-size: 4.5rem;
  }
  @include MQ(S) {
    font-size: 6rem;
    margin: 0;
  }
  @include MQ(M) {
    font-size: 8rem;
  }
}

h2 {
  color: darken($color-3, 20%);
  font-size: 1rem;
  @include MQ(midS) {
    font-size: 1.5rem;
  }
  @include MQ(S) {
    margin: 2rem;
    padding: 0;
    font-size: 1.5rem;
  }
}

abbr[title] {
  text-decoration: none;
}

h3 {
  font-family: $secondary-font;
  color: $color-1;
  font-size: 2rem;
  margin-top: 0;
  @include MQ(S) {
    font-size: 2.5rem;
  }
}

p {
  color: $color-1;
  font-size: 1rem;
  @include MQ(S) {
    line-height: 150%;
  }
  @include MQ(M) {
    line-height: 175%;
  }
}

p a {
  color: darken($color-3, 20%);
  text-decoration: none;
  font-weight: bold;
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

.summary p:first-child {
  @include MQ(S) {
    color: $color-4;
    font-size: 1.2rem;
  }
}

.summary p:last-child {
  @include MQ(S) {
    font-size: 2rem;
    font-family: $secondary-font;
  }
  @include MQ(M) {
    font-size: 3rem;
  }
}
.summary{
  p{
    a{
      @include MQ(M){
        font-size: 3rem;
        }
    }
  }
}

.design-selection,
.design-archives,
.zen-resources {
  h3 {
    @include MQ(S) {
      color: darken($color-3, 20%);
    }
  }
  li,
  li a {
    @include MQ(S) {
      color: $color-3;
    }
  }
  li a:hover {
    @include MQ(S) {
      color: $color-4;
    }
  }
}

.requirements {
  p {
    @include MQ(S) {
      font-size: 0.8rem;
      color: $color-4;
    }
  }
  p:last-child {
    @include MQ(S) {
      font-size: 1.6rem;
      font-family: $secondary-font;
    }
  }
  h3 {
    @include MQ(S) {
      color: $color-4;
    }
  }
}

footer {
  a {
    color: $color-1;
    font-weight: bold;
  }
}
